<div class="registration-header">
  <%= link_to "プロフィール編集", root_path, class:"devise_header" %>
</div>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table border="1" class="form-table">
    <tr>
      <div class="form-group">
        <th><div class='form-text-wrap'>
          <label class="form-text">ニックネーム</label>
        </div></th>
        <td class="form-content"><%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例) 抹茶プリン", maxlength:"40" %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <th><div class='form-text-wrap'>
          <label class="form-text">顔写真</label>
        </div></th>
        <td class="form-content"><%= f.file_field :image, id:"item-image" %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <th><div class='form-text-wrap'>
          <label class="form-text">趣味</label>
        </div></th>
        <td class="form-content"><%= f.text_field :hobby, class:"input-default", id:"hobby", placeholder:"例) 読書" %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <th><div class='form-text-wrap'>
          <label class="form-text">居住地</label>
        </div></th>
        <td class="form-content"><%= f.collection_select(:prefecture, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <th><div class='form-text-wrap'>
          <label class="form-text">プロフィール</label>
        </div></th>
        <td class="form-content"><%= f.text_area :profile, class:"input-default", id:"hobby" %></td>
      </div>
    </tr>
  </table>

  <div class='register-btn'>
    <%= f.submit "プロフィール変更" ,class:"register-red-btn" %>
  </div>
<% end %>