<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to "MUCHUP", "/", class:"much-icon" %>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <ul class='lists'>
    <li><%= link_to current_user.nickname, member_path(@member), class: "user-nickname" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
  </ul>
</header>

<div class="member-main">
  <div class="member-contents">
    <h2 class='title'>ピックアップ</h2>
  </div>
  <ul class='member-lists'>
    <% @members.each do |member| %>
      <li class='list'>
        <%= link_to member_path(member) do %>
          <div class='member-img-content'>
            <%= image_tag member.image, class: "member-img" %>
          </div>
          <div class='member-info'>
            <%= member.nickname %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
