<%= render "shared/header"%>

<div class="show-main">
  <div class='form-wrap'>
    <%= image_tag @user.image, class: "current-member-img" %>

    <table border="1" class="show-form-table">
      <tr>
        <div class="form-group">
          <th class="show-title"><h3>ユーザー名</h3></th>
          <td class="show-profile"><%= @user.nickname %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th class="show-title"><h3>年齢</h3></th>
          <td class="show-profile"><span><%= @user.age %>歳</span></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <th class="show-title"><h3>出身地</h3></th>
          <td class="show-profile"><%= Prefecture.find(@user.prefecture).name %></td>
        <div>
      </tr>
      <tr>
        <div class="form-group">
          <th class="show-title"><h3>趣味</h3></th>
          <% unless @user.hobby.blank? %>
            <td class="show-profile"><%= @user.hobby %></td>
          <% else %>
            <td class="show-profile">未設定</td>
          <% end %>
        </div>
      </tr>
    </table>
    <div class="profile">
      <h3>自己紹介</h3>
      <% unless @user.profile.blank? %>
        <%= @user.profile %>
      <% else %>
        <p>はじめまして</p>
      <% end %>
    </div>

    <% if @user.id == current_user.id %>
      <%= link_to "プロフィール編集", edit_user_registration_path, class: "profile-link btn btn--orange btn--radius" %>
      <%= link_to "フォロー(#{@user.followings.count})", following_member_path, class: "profile-link btn btn--blue btn--radius" %>
      <%= link_to "フォロワー(#{@user.followers.count})", follower_member_path, class: "profile-link btn btn--blue btn--radius" %>
      <%= link_to "トーク", mach_member_path, class: "mach-link btn btn-border" %>
    <% end %>

    <% if @user != current_user%>
      <div id="follow_form">
        <% unless current_user.following?(@user) %>
          <%= form_with(model: current_user.following_relationships.build) do |f| %>
            <%= f.hidden_field :following_id, value: @user.id %>
            <%= f.submit "フォローする", class: "btn btn--blue" %>
          <% end %>
        <% else %>
          <%= form_with(model: current_user.following_relationships.find_by(following_id: @user.id),method: :delete) do |f| %>
            <%= f.hidden_field :following_id %>  
            <%= f.submit "フォロー済", class: "btn btn--glay" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>